<div class="row">
  <img src={{profilePic}}>
</div>
<div class="row">
  <p>Name: {{name}}</p>
  <p>Gender: {{gender}}</p>
  <p>Size: {{size}}</p>
  <p>Breed: {{breed}}</p>
  <p>Location: {{location}}</p>
  <p>Bio: {{bio}}</p>
</div>
